<% content_for :footer do %>
  <%= javascript_include_tag 'jquery.wookmark.min', 'kaja' %>
<% end %>
<%= partial 'sidebar' %>

<header class="about-header">
  <h1>Ruby Kaja <%= @year %></h1>
</header>

<section class="contents">
  <ul id="KajaContainer">
    <% @nominees.each do |nominee| %>

    <li class="kaja">
      <div class="inner-kaja">
        <%= image_tag "profile/#{nominee.image_file}", class: 'img', alt: h(nominee.name) %>
        <h2 class="kaja-name"><%=h nominee.name %></h2>
        <a href="https://github.com/<%=h nominee.github %>" target="_blank" class="github link"><%=h nominee.github %></a>
        <a href="https://twitter.com/<%=h nominee.twitter %>" target="_blank" class="twitter link">@<%=h nominee.twitter %></a>
        <p class="text hide">
          <%=simple_format auto_link(nominee.profile) %>
        </p>
        <p class="text hide">
          <%=simple_format auto_link(nominee.supplement) %>
        </p>
        <h3 class="criterion hide">Kaja選定の基準や方法</h3>
        <p class="text hide"><%=simple_format auto_link(nominee.judged_by) %></p>
        <h3 class="hide">Kaja投票理由</h3>
        <ul class="motive hide">
          <%=simple_format auto_link(nominee.reason_for) %>
        </ul>
        <h2 class="community-name"><%=h nominee.community %></h2>
        <p class="text"><%=simple_format auto_link(nominee.description) %></p>
        <p class="text hide"><%=simple_format auto_link(nominee.comment) %></p>
      </div>
    </li>

  <% end %>

  </ul>
</section>
