<% form_for @community, i18n_path("/entry") do |f| %>
  <% if @community.errors.any? %>
    <div class="errors">
      <ul>
        <li><%= error_messages_for :community %></li>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "input" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "input", placeholder: t("form.description_placeholder") %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, class: "input" %>
  </p>
  <p>
    <%= submit_tag t("form.apply"), class: "button" %>
  </p>
<% end %>
