%div(class="form-nominate")
  - form_for @community, i18n_path("/entry#communities"), class: 'form-horizontal well' do |f|
    - if @community.errors.any?
      %div(class="alert alert-error")
        %ul
          %li= error_messages_for :community

    - field_set_tag do
      %legend= t("form.legend")
      %div(class="control-group")
        = f.label :name, class: "control-label"
        %div.controls
          = f.text_field :name, class: "span8"
      %div(class="control-group")
        = f.label :description, class: "control-label"
        %div.controls
          = f.text_area :description, rows: 5, class: "span8", placeholder: t("form.description_placeholder")
      %div(class="control-group")
        = f.label :email, class: "control-label"
        %div.controls
          = f.email_field :email, class: "span8"

    %div(class="form-action")
      = submit_tag t("form.apply"), class: "btn btn-primary btn-large"
